		<ul>
		  <lim><a class="active" href="/home/index">Inicio</a></lim>
		  <lim><a href="">Alumnos</a></lim>
		  <lim><a href="">Profesores</a></lim>
		  <lim><a href="">Guías Solicitadas</a></lim>
		  <lim><a href="">Informes</a></lim>
		  <lim><a href="">Ingresar Resultados</a></lim>
		  <lim style="float:right"><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete'%></lim>
		</ul>
				

		<h1 style="margin-left: 20px">PSU FEEDBACK</h1>



